.card-container {
    display: flex;
    flex-direction: column;
    background-color: #da95a0;
    border: 1px solid rgba(128, 128, 128, 0.925);
    border-radius: 8px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    }
    .card-container:hover {
    transform: scale(1.05);
    }
    .custom-button {
        background-color: rgba(255, 0, 55, 0.164);
        color: rgba(255, 255, 255, 0.979);
        border: none;
        padding: 10px;
    }
   
    
    